// All application variables
$unit: 2;

// Application colors
$colors: (
  main: #000,
  tuna: #F7F7F7,
  tuna-100: #e5e5e5,
  tuna-200: #999,
  tuna-300: #666
);

// Typography
$fontNames: (
  text: "'Inter', system-ui, sans-serif"
);

$fontSizes: (
  huge: (
    normal: '64px/80px',
    responsive: '32px/40px'
  ),
  title: (
    normal: '40px/48px',
    responsive: '28px/48px'
  ),
  medium: (
    normal: '18px/20px',
    responsive: '18px/20px'
  ),
  small: (
    normal: '14px/24px',
    responsive: '14px/24px'
  ),
  label: (
    normal: '12px/14px',
    responsive: '12px/14px'
  ),
  caption: (
    normal: '11px/20px',
    responsive: '11px/14px'
  )
) !default;

// Breakpoints
$width-sm: 544px;
$width-md: 768px;
$width-lg: 1012px;
$width-xl: 1280px;

$breakpoints: (
  sm: $width-sm, // Small screen / phone
  md: $width-md, // Medium screen / tablet
  lg: $width-lg, // Large screen / desktop (980 + (12 * 2)) <= container + gutters
  xl: $width-xl // Extra large screen / wide desktop
) !default;
