@import 'vars';

.Content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: $unit * 16px;
  max-width: $unit * 564px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $unit * 10px;
  box-sizing: border-box;
}
.Content-threeFirst {
  grid-column: 1/4;
}
.Content-threeSecond {
  grid-column: 3/6;
}
.Content-twoSecond {
  grid-column: 4/6;
}
.Content-twoFirst {
  grid-column: 1/3;
}
.Content-full {
  grid-column: 1/6;
}